<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subject%></h1>
    <p>
      Dear user,
    </p>
    <p>
      </br>
      Please use this token to reset your password:
      Token: <%= @token %>
      E-Mail: <%= @email %>
    </p>
    <p>
      With kind regards,<br/>

    </p>
  </body>
</html>
